@import url('https://fonts.googleapis.com/css?family=Open+Sans:400'); 
@import url('https://fonts.googleapis.com/css?family=Exo:400'); 

.planoDeFundo {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #e7eef1;
}

.colunaPrincipal{
    min-height: 100vh;
    flex: 1;
    flex-direction: column;
    display: flex;
}

.menu {
    width: 100px;
    background: #165C7D;
}

.menu ul {
    list-style: none;
}

.header {
    padding: 16px;
    height: 89px;
    background: #FFFFFF;
}

footer {
    padding: 16px;
    display: flex;
    height: 78px;
    flex-direction: row;
    background: #FFFFFF;
}

.admissao {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: #101213;
}

p {
    width: 489px;
    height: 18px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    color: #787878;
}

.cantoLateral {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.dicas {
    width: 274px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    color: #165C7D;
    border: 1px solid #165C7D;
    border-radius: 2px;
}

.dicas:hover{
    color: #FFFFFF;
    background: #165C7D;
}

.material-icons {
    font-size: 30px;
}

.hamburguer {
    position: absolute;
    width: 20px;
    height: 30px;
    left: 30px;
    top: 115px;
}

.lupa {
    position: absolute;
    left: 30px;
    top: 173px;
    bottom: 75%;
}

.estrela {
    position: absolute;
    width: 30.35px;
    height: 30px;
    left: 30px;
    top: 229px;
    color: #FFFFFF;
}

.chat {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 30px;
    top: 288px;
}

.categoria {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 30px;
    top: 349px;
}

.universidade {
    position: absolute;
    width: 30.13px;
    height: 30px;
    left: 30px;
    top: 412px;
}

.logo {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 20px;
    top: 19px;
}

.viacredi {
    margin: 0 8px;
    text-align: center;
    width: 109px;
    height: 32px;
    color: #125D79;
    background: #FFFFFF;
    border: 1px solid #125D79;
    border-radius: 15px;
}

.homem {
    margin: 0 8px;
    width: 40.71px;
    height: 42px;
    right: 20.36px;
    border-radius: 22px;
    border: 1px solid #125D79;
}
