.frameNome {
    width: 218px;
    height: 34px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.frameCpfRegular{
    width: 144px;
    height: 34px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;

}